@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import "reset.css";
@import "variable.css";

body {
    width: 100vw;
    height: 100vh;
    font-family: "Acme", sans-serif;
    display: grid;
    grid-template:
        "first first second second" 1fr
        "first first second second" 1fr
        "third third fourth-1 fourth-2" 1fr
        "third third fourth-3 fourth-4" 1fr / 1fr 1fr 1fr 1fr;
}

.first {
    grid-area: first;
    background-color: #dae7de;
    color: #f64408;
    display: grid;
    place-items: center center;
    font-size: 7.5vh;
}
.second {
    grid-area: second;
    background-color: #008a69;
    color: #fcfffe;
    display: grid;
    place-items: center center;
    font-size: 7.5vh;
}
.third {
    grid-area: third;
    background-color: #f44607;
    color: #fefefd;
    display: grid;
    place-items: center center;
    font-size: 7.5vh;
}
.fourth-1 {
    grid-area: fourth-1;
    background-color: #f7abc5;
    color: #f64408;
    display: grid;
    place-items: center center;
    font-size: 3.75vh;
}
.fourth-2 {
    grid-area: fourth-2;
    background-color: #5f5fa9;
    color: #fefefd;
    display: grid;
    place-items: center center;
    font-size: 3.75vh;
}
.fourth-3 {
    grid-area: fourth-3;
    background-color: #ffc128;
    color: #f64408;
    display: grid;
    place-items: center center;
    font-size: 3.75vh;
}
.fourth-4 {
    grid-area: fourth-4;
    background-color: #f97374;
    color: #fefefd;
    display: grid;
    place-items: center center;
    font-size: 3.75vh;
}
